body {
    background-color: rgb(228, 177, 230)
}

header {
    background-color: rgb(182, 175, 175);
}

p{
    color: black;
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}




