body {
    background-color: rgb(135, 228, 135)
}

header {
    background-color: rgb(182, 175, 175);
}

p{
    color: black;
    text-align: center;
}

h1{
    text-align: center;
}

.margen {

    margin-left: 45%;

}





